a {
  text-decoration: none;
}


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: block;
    margin-left: auto;
    margin-right: auto 
}




<!--body text--> 

body {
  
  margin-left: auto;
  margin-right: auto;
  font-family: 'IM Fell English SC', serif;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  color:#A68D76;
}


a:link {
    color:#211A19;
}

a:visited {
    color:#211A19;
}

header {
  background: #A68D76;
 margin-bottom:50px;
  
}

h1{
  font-size:48px;
}

h2 {
font-size:32px;
}



p {
  
  font-weight: 100;
  font-size: 1.50em;
 font-family: 'IM Fell English SC', serif;
  text-align:center;
  color:#A68D76;
  margin-left:10%;
  margin-right:10%;
   
}
<!--menu-->
nav {
	text-align: center;
  width:750px;
margin:0 auto;
  padding:15px 60px;
  
}

ul {
	display: inline-block;
  color:#A68D76;
  padding-left:200px;
}

li {
	position: center;
		float: left;
  list-style-type: none;
  background: linear-gradient(rgba(177,165,194,0.2) 25%, rgba(177,165,194,0.3) 70%);
  cursor: pointer;
  padding: 3px 10px;
  border-top: 1px solid rgba(177,165,194,0.6);
  border-bottom: 1px solid rgba(90,90,90,0.4);
  border-right: 1px solid rgba(177,165,194,0.6);
  border-left: 1px solid rgba(70,70,70,0.3);
  transition: all .4s;
  
}

li:hover {
  margin: 0 5px;
  background: linear-gradient(rgba(177,165,194,0.3) 25%, rgba(177,165,194,0.5) 80%);
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 1);
  transition: all .4s;
}

li:first-child {
  border-radius: 5px 0 0 5px;
}

li:last-child {
  border-radius: 0 5px 5px 0;
}

li:first-child:hover {
	margin-left: 0;
}

li:last-child:hover {
	margin-right: 0;
}

a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color:#211A19;
  font: 14px;
  font-family: 'IM Fell English SC', serif;
  text-transform: capitalize;
  transition: all .4s;
}

li:hover a {
	color: #fff;
	transition: all .4s;
}

<!--footer nav-->
.footer table, th, td, a {
   font-size: 15px;
    color: #A68D76;
  font-family: 'IM Fell English SC', serif;
  border: none;
}

.footer td {
    text-align: center;
    height: 50px;
  width: 50px;
    vertical-align: center;
}

.footer td {
  background-color:#211A19;
}
  
.footer th {
  height:60px;
  color: #A68D76;
  width: 90px;
  background-color: #211A19;
  
}  

.footer a {
  color: #A68D76;
}




@media only screen and (max-width : 640px) {

	header {

		position: relative;
    
	}

	

	nav ul, nav:active ul {
   margin-left:10%;
    position:relative;
    
padding: 0;
list-style-type: none;
text-align: center;
    
    
    
	}
<!--changes size of blocks-->
	nav li {
    height:3%;
		text-align: center;
		width: 30%;
		padding: 10px 0;
		display:inline;

	}
  }
}

<!--table-->


.references table, th, td {
   border: 1px solid #211A19;
    color: #211A19;
  font-family: 'IM Fell English SC', serif;
}

.references td {
    text-align: center;
    height: 75px;
  width: 200px;
    vertical-align: center;
  color: #211A19;
}

.references td {
  background-color:#A68D76;
}
  
.references th {
  background-color: #84705e;
  padding-left:10px;
  padding-right:10px;
  color: #211A19;
}  

<!--footer-->

footer {
  padding-top:300px;
  padding-bottom: 3em;
  text-align: center;
  font-family: 'IM Fell English SC', serif;

} 


body {
  background-color: #7F1D29;
  color: #A68D76;
}

header {
  background: #A68D76;
 margin-bottom:50px;
  
}
  
h1, h2 {
  color: #211A19;
  text-align: center;
  font-family: 'IM Fell English SC', serif;  
}

h2 {
  <!--
  padding: 2px 0px;
  -->
  text-align:center;

}
 
h3{
  font-family: 'IM Fell English SC', serif;
}
  
img {



}

/* ###### White / Pink #########*/
.white-pink {
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
    max-width: 500px;
    background: #A68D76;
    padding: 30px 30px 20px 30px;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    font: 16px 'IM Fell English SC', serif;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.white-pink h1 {
    <!--font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;-->
  font: 24px 'IM Fell English SC', serif;
    padding: 0px 0px 10px 0px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color:#211A19;
}
.white-pink h1>span {
    display: block;
    font-size: 16px;
    color:#211A19;
  padding-right:9px;
  padding-left:10px;
}
.white-pink label {
    display: block;
    margin: 0px 0px 5px;
}
.white-pink label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #211A19;
}
.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
    color: #555;
    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.white-pink textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
  font-family:Arial;
}

.btn-style{
	border : solid 0px #ffffff;
	border-radius : 10px;
	moz-border-radius : 10px;
	-webkit-box-shadow : 0px 0px 10px rgba(235,235,235,0.8);
	-moz-box-shadow : 0px 0px 10px rgba(235,235,235,0.8);
	box-shadow : 0px 0px 10px rgba(235,235,235,0.8);
	font-size : 20px;
  font-family: 'IM Fell English SC', serif;
	color : #a68d76;
	padding : 5px 12px;
	background : #7f1d28;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f1d28), color-stop(100%,#63151f));
	background : -moz-linear-gradient(top, #7f1d28 0%, #63151f 100%);
	background : -webkit-linear-gradient(top, #7f1d28 0%, #63151f 100%);
	background : -o-linear-gradient(top, #7f1d28 0%, #63151f 100%);
	background : -ms-linear-gradient(top, #7f1d28 0%, #63151f 100%);
	background : linear-gradient(top, #7f1d28 0%, #63151f 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f1d28', endColorstr='#63151f',GradientType=0 );

}

<!request submitted pencils-->

h1 {
  text-align: center;
  font-family: helvetica;
  font-size:70px;
  color: #434A54;
  font-weight:lighter;
}

.pencil {
  width:40px;
  margin:-200px auto;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */ 
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.pencil:before {
  content: "";
  position: absolute;
  height:512px;
  width:8px;
  background: rgba(0,0,0,.4);
  border-radius: 50%;
  margin-left:35px;
  margin-top:-2px;
}

.pencil .eraser {
  height:35px;
  width:40px;
  background: #8f212e;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pencil .eraser:before {
  content: "";
  position: absolute;
  width:20px;
  height:35px;
  margin-left:20px;
  background:#6f1924;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.pencil .ferrule {
  height:45px;
  width:40px;
  background: #CCD1D9;
}

.pencil .ferrule:before {
  content: "";
  position:absolute;
  height:45px;
  width:20px;
  margin-left:20px;
  background:#AAB2BD;
}

.pencil .shaft {
  height:350px;
  width:40px;
  background: #2c2321;
}

.pencil .shaft:before {
  content: "";
  position: absolute;
  height: 350px;
  width: 20px;
  margin-left: 20px;
  background: #211A19;
}

.pencil .lead {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 80px solid #EBD4A9;
}

.pencil .lead:before {
  content: "";
  position: absolute;
  margin-top: -80px;
  border-right: 20px solid transparent;
  border-top: 80px solid #D1BD97;
}

.pencil .lead:after {
  content: "";
  position: absolute;
  margin-top:-21px;
  margin-left:-5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 20px solid #1A1A1A;
}

